<h1>User Profile for <%= @user.username %> </h1>

<h3>My Events</h3>

<% @events.each do |event| %>
<h4><%= event.title %></h4>
<p><%= event.body %></p>
<small><%= event.date %></small>
<hr>
<% end %>

<h3>Events I'm Attending</h3>

<% @user.attended_events.each do |event| %>
<h5><%= event.title %></h5>
<p><%= event.body %></p>
<hr>
<% end %>

<%= link_to "New Event", new_event_path %>

